body {
  text-align: center;
  font-family: Arial;
}

.wordItem {
  border:1px solid black;
  color:black;
  padding:20px;
  width: auto;
  margin: 10px;
}

div .wordItem:hover{
  color:white;
}

.read {
  color:white;
}