body {
  text-align: center;
  font-family: Arial;

}

#content {
  display: flex;
  flex-wrap: wrap;
}

.wordItem {
  border:1px solid black;
  color:black;
  padding:20px;
  width: auto;
  height:20px;
  margin: 10px;
}

.wordItem:hover{
  color:white;
}

.read {
  color:white;
}